In [67]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats as st
import seaborn as sns

In [3]:
train_df = pd.read_csv("devim/train.csv")
train_df.head()

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
0,5498546,0.0,0,40364,0,0.0,3000,560,0.0,0.0,...,0.0,0,0.00,0,0,3,50000,46,NaN,0
1,5498604,1500.0,0,23456,0,0.0,0,9999,0.0,0.0,...,0.0,0,0.00,0,0,3,35000,17,NaN,0
2,5498609,0.1,0,17999,3,0.0,9999,9999,0.1,9999.0,...,0.0,0,0.00,0,2,3,35000,58,NaN,0
3,5498645,5000.0,0,313247,0,0.0,0,9999,0.0,0.0,...,0.0,0,4923.97,0,0,5,35000,4,NaN,0
4,5498647,0.0,0,0,1,0.0,0,9999,0.0,0.0,...,0.0,0,0.00,0,0,5,35000,34,NaN,0

In [4]:
test_df = pd.read_csv("devim/test.csv")
test_df.head()

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
0,5499904,16000.0,0,6890,1,33722.12,33722,9999,0.0,0.00,...,0.00,0,0.00,0,0,5,35000,65,NaN,0
1,5501986,0.0,0,0,5,5000.00,0,289,0.0,0.00,...,0.00,0,0.00,0,0,3,35000,7,NaN,0
2,5503586,133000.0,1,284685,9,16600.00,716305,6,50000.0,593315.33,...,16600.00,4,2409.33,1,4,4,50000,18,1.0,1
3,5507043,10000.0,0,0,0,0.00,0,9999,0.0,0.00,...,0.00,0,9968.84,0,0,5,20000,58,NaN,0
4,5512692,120500.0,0,1293089,8,9605.18,1562678,33,0.0,1392907.34,...,1221.81,1,4442.42,1,0,3,50000,20,0.0,1

In [5]:
train_df.describe()

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
count,2.311600e+04,2.311600e+04,23116.000000,2.311600e+04,23116.000000,2.311600e+04,2.311600e+04,23116.000000,23116.000000,2.311600e+04,...,23116.000000,23116.000000,2.311600e+04,23116.000000,23116.000000,23116.000000,23116.000000,23116.000000,7269.000000,23116.000000
mean,6.060602e+06,4.424794e+04,1.284262,1.653574e+05,3.760642,4.070925e+03,1.284212e+05,2615.988925,10672.104919,8.414683e+04,...,1107.137568,3.474087,4.878172e+03,0.118576,1.080637,3.433250,39363.189998,47.632203,0.270051,0.314458
std,3.678480e+05,1.006016e+05,2.373415,4.788942e+05,5.057107,2.689042e+04,3.890718e+05,4228.621029,37246.943546,3.054724e+05,...,7073.931364,9.202313,3.793714e+04,0.466854,2.137757,1.370812,13887.644526,27.615823,0.444016,0.464310
min,5.498546e+06,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.739749e+06,0.000000e+00,0.000000,3.000000e+03,0.000000,0.000000e+00,2.000000e+03,13.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,2.000000,35000.000000,25.000000,0.000000,0.000000
50%,6.020794e+06,5.000000e+03,0.000000,3.083450e+04,2.000000,0.000000e+00,1.500000e+04,83.500000,0.000000,5.000000e+03,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,3.000000,35000.000000,46.000000,0.000000,0.000000
75%,6.445488e+06,4.972685e+04,2.000000,1.357758e+05,5.000000,3.000000e+03,7.500000e+04,2070.500000,0.000000,3.496056e+04,...,0.000000,3.000000,0.000000e+00,0.000000,1.000000,5.000000,50000.000000,70.000000,1.000000,1.000000
max,6.697265e+06,5.739786e+06,25.000000,3.030997e+07,67.000000,1.914581e+06,1.200000e+07,9999.000000,878000.000000,1.150825e+07,...,673495.420000,344.000000,2.878197e+06,10.000000,48.000000,5.000000,65000.000000,99.000000,1.000000,1.000000

In [15]:
test_df.describe()

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
count,1.218000e+03,1218.000000,1218.000000,1.218000e+03,1218.000000,1.218000e+03,1.218000e+03,1218.000000,1218.000000,1.218000e+03,...,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.00000,1218.000000,1218.000000,373.000000,1218.00000
mean,6.211891e+06,42738.170238,1.162562,1.586558e+05,3.486043,1.223361e+04,1.354692e+05,2659.235632,10089.632668,7.793250e+04,...,1124.139532,3.002463,4401.889319,0.133826,0.963054,3.40312,39426.929392,48.511494,0.265416,0.30624
std,4.129495e+05,85083.376473,2.452476,5.009451e+05,4.539452,2.608477e+05,4.488645e+05,4224.121482,35316.122541,2.711290e+05,...,6185.287603,8.070814,24798.951599,0.521664,2.043355,1.37565,13836.229482,27.636155,0.442147,0.46112
min,5.499904e+06,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,1.000000,0.000000,0.00000
25%,5.774225e+06,0.000000,0.000000,2.000000e+03,0.000000,0.000000e+00,2.000000e+03,14.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.00000,35000.000000,27.000000,0.000000,0.00000
50%,6.466954e+06,5000.000000,0.000000,2.673550e+04,2.000000,0.000000e+00,1.500000e+04,138.000000,0.000000,3.000000e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.00000,35000.000000,46.000000,0.000000,0.00000
75%,6.587276e+06,51887.500000,1.000000,1.245895e+05,5.000000,3.000000e+03,8.204150e+04,2413.750000,0.000000,3.000000e+04,...,0.000000,2.000000,0.000000,0.000000,1.000000,5.00000,50000.000000,69.750000,1.000000,1.00000
max,6.697255e+06,867000.000000,40.000000,1.204294e+07,31.000000,9.046414e+06,9.600000e+06,9999.000000,576000.000000,4.952610e+06,...,177738.850000,97.000000,442155.730000,7.000000,22.000000,5.00000,60000.000000,98.000000,1.000000,1.00000

Тут мы кстати видим, что в данных у нас нет пропусков (кроме столбца `bad`)

In [9]:
train_df.shape

(23116, 25)

In [10]:
test_df.shape

(1218, 25)

In [14]:
all(train_df.dtypes == test_df.dtypes)

True

Все типы переменных на обучающей и тестовой выборке совпадают

### Описание фичей
##### Переменные, характеризующие кредитную историю клиента
`cred_sum_cc_all` - сумма кредитов по кредитным картам
`mfo_inqs_count_month` - количество запросов на кредиты в другие в МФО
`all_closed_creds_sum_all` количество закрытых кредитов
`bank_inqs_count_quarter` - количество запросов на кредиты в банки
`cred_max_overdue_max_ly` - максимальная просрочка за год
`all_active_creds_sum_all` - денежная сумма всех активных кредитов
`mfo_last_days_all` - Количество дней с последнего займа в МФО
`cred_sum_cc_ly` - Сумма лимитов кредитных карт, оформленных за последний год
`cred_sum_debt_all_all` - Сумма задолженности по всем кредитам
`all_closed_creds_sum_ly` - Сумма закрытых кредитов за последний год
`mfo_cred_mean_sum_3lm` - Средняя сумма МФО кредитов, выданных за последние 3 месяца
`delay_more_sum_all` - Количество просрочек более чем на 90 дней по всем кредитам
`all_creds_count_all` - Общее количество кредитов
`cred_day_overdue_all_sum_all` - Суммарное количество дней просрочки текущих активных кредитов
`cred_max_overdue_max_3lm` - Максимальная сумма просроченной задолженности, по кредитам взятым за последние 3 месяца
`mfo_closed_count_ly` - Количество закрытых МФО кредитов, взятых за последний год
`cred_sum_overdue_cc_all` - Сумма просрочек по кредитным картам
`count_overdue_all_3lm` - Количество кредитов на просрочке, взятых за последние 3 месяца
`all_creds_count_lm` - Количество кредитов, взятых за последний месяц
`region` - регион подачи заявки
##### Переменные характеризующие клиента
`work_code` - Профессия.
- 5 - рабочие профессии (слесарь, токарь).
- 3 - офисный работник (бухгалтер, программист).
- 1 - госслужащий (полицейский, медсестра)

`month_income` - доход
##### Целевые переменные:
`bad` - 1 - кредит просрочен, 0 - кредит возвращен, `nan` - отказ.
`approved` - 1 - одобрено, 0 - отказано.

In [18]:
train_df.loc[train_df['bad'].notna()]

,order_id,cred_sum_cc_all,mfo_inqs_count_month,all_closed_creds_sum_all,bank_inqs_count_quarter,cred_max_overdue_max_ly,all_active_creds_sum_all,mfo_last_days_all,cred_sum_cc_ly,cred_sum_debt_all_all,...,cred_max_overdue_max_3lm,mfo_closed_count_ly,cred_sum_overdue_cc_all,count_overdue_all_3lm,all_creds_count_lm,work_code,month_income,region,bad,approved
8,5499365,50000.0,2,58500,14,0.00,38000,23,50000.0,38000.00,...,0.0,5,0.0,0,2,1,35000,4,0.0,1
9,5499397,44000.0,1,367842,3,24000.00,74695,8,0.0,75295.00,...,0.0,11,0.0,0,3,2,35000,61,1.0,1
10,5499407,0.0,1,44500,0,0.00,5000,29,0.0,5000.00,...,0.0,7,0.0,0,1,4,50000,32,0.0,1
12,5499448,81550.0,11,231604,5,0.00,272086,16,0.0,217493.70,...,0.0,4,0.0,0,4,5,35000,1,1.0,1
17,5499715,45001.0,0,107584,0,5975.24,267484,9999,1.0,244351.87,...,0.0,0,0.0,0,0,5,35000,78,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23098,6696767,0.0,0,174590,2,0.00,114770,223,0.0,100962.59,...,0.0,0,0.0,0,1,4,35000,81,0.0,1
23101,6696855,0.0,6,77927,1,0.00,26200,5,0.0,25480.00,...,0.0,16,0.0,0,9,2,50000,45,1.0,1
23107,6697037,0.0,0,21100,14,0.00,0,32,0.0,0.00,...,0.0,3,0.0,0,0,5,60000,12,0.0,1
23108,6697060,8000.0,3,20650,3,0.00,7500,7,0.0,7500.00,...,0.0,1,0.0,0,2,2,35000,91,0.0,1
23115,6697265,0.0,0,224889,10,0.00,588080,9999,0.0,574940.66,...,0.0,0,0.0,0,0,2,35000,15,0.0,1

Напишем функцию, которая будет нам выводить в текством виде информацию о признаке в двух выборках

In [68]:
def compare_samples(feat, first_sample=train_df.loc[train_df['bad'].notna()], second_sample=train_df):
    """
    Функция которая выводит информацию о признаке в двух выборок
    :param feat: Признак
    :param first_sample: Выборка выданных кредитов
    :param second_sample: Вся выборка
    """
    output = f"Сравнение признака {feat}:\n"

    # Выборочное среднее
    output += f"Выборочное среднее на выборке выданных кредитов = {first_sample[feat].mean()}\n"
    output += f"Выборочное среднее на всей выборке = {second_sample[feat].mean()}\n\n"

    # Медиана
    output += f"Медиана на выборке выданных кредитов = {first_sample[feat].median()}\n"
    output += f"Медиана на всей выборке = {second_sample[feat].median()}\n\n"

    # Дисперсия
    output += f"Дисперсия на выборке выданных кредитов = {first_sample[feat].var()}\n"
    output += f"Дисперсия на всей выборке = {second_sample[feat].var()}\n\n"

    # Стандартное отклонение (корень из дисперсии)
    output += f"Стандартное отклонение на выборке выданных кредитов = {first_sample[feat].std()}\n"
    output += f"Стандартное отклонение на всей выборке = {second_sample[feat].std()}\n"

    return output

In [69]:
print(compare_samples('cred_sum_cc_all'))

Сравнение признака cred_sum_cc_all:
Выборочное среднее на выборке выданных кредитов = 72930.69684550833
Выборочное среднее на всей выборке = 44247.935382851705

Медиана на выборке выданных кредитов = 30000.0
Медиана на всей выборке = 5000.0

Дисперсия на выборке выданных кредитов = 12949381084.387712
Дисперсия на всей выборке = 10120681248.761553

Стандартное отклонение на выборке выданных кредитов = 113795.34737583832
Стандартное отклонение на всей выборке = 100601.59665115437

Для статистического сравнения выборок будем использовать t-критерий Стьюдента из `scipy`
Напишем функцию для этого сравнения

In [110]:
def t_test(feat, first_sample=train_df.loc[train_df['bad'].notna()], second_sample=train_df):
    """
    Функция, которая выводит информацию о результате t-теста
    :param feat: Признак, по которому сравниваются выборки
    :param first_sample: Выборка выданных кредитов
    :param second_sample: Вся выборка
    :return: Информация в текстовом виде
    """
    x = first_sample[feat]
    y = second_sample[feat]

    stat_value, p_value = st.ttest_ind(y, x)
    stat_value2, p_value2 = st.mannwhitneyu(y, x)
    stat_value3, p_value3 = st.ks_2samp(y, x)
    stat_value4, p_value4 = st.levene(x, y)
    return stat_value4, p_value4

In [111]:
t_test('cred_sum_cc_all')

(300.37406547451485, 5.7374127677921874e-67)