In [1]:
import pandas as pd

Считываем эксель файлы

In [5]:
agrs = pd.read_excel('02.xlsx')
agrs.head()

,Unnamed: 0,level_0,Наименование цеха,Id,Name,Id.1,Name.1,dStart,Day,DurationInDays,OccupiedPercentage,UnavailablePercentage,TotalCapacity.1
0,0,0,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR4O1,УНРС-4,2021-10-07,0,1,100,100,4 days
1,1,1,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR3O1,УНРС-3,2021-10-07,0,1,100,99.853748,4 days
2,2,2,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR6O1,УНРС-6,2021-10-07,0,1,100,76.606313,4 days
3,3,3,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR2O1,УНРС-2,2021-10-07,0,1,100,100,4 days
4,4,4,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR4O1,УНРС-4,2021-10-08,1,1,100,57.324748,4 days

In [69]:
resources = pd.read_excel('03_1.xlsx')
resources.head()

,HasConstraintViolations,Имя,Имеет ограничение по мощности,Идентификатор,InputSP,OutputSP,Поставщик
0,False,Участок обработки КЦ-1,False,G_ATO1,Q3062,Q3061;Q3063,False
1,False,"АПХКР 1,2 ЦДС",False,G_APHKRD,Q3156,Q3157;Q315B,False
2,False,"ВТО ЦТС (LOI, СГН, СГВ)",True,G_VTOT,Q311A;Q311B,Q311C,False
3,False,Отгрузка КЦ-2,True,G_OTGRO2,Q3071,Q3001,False
4,False,Ручная порезка на параллельном рольганге,False,G_MCUTG,Q3128,Q3121,False

In [37]:
whouses = pd.read_excel('03.xlsx')
whouses.head()

,Идентификатор,Имя,Продолжительность,Плановая дата,Уровень запасов,Имеет запланировано свыше максимального уровня запасов,Максимальное количество запасов
0,Q3062,Склад слябов КЦ-1 разливка,1,2021-10-17,18750.27,False,25000
1,Q311C,Склад ЦТС ПФ перед АЭИП,1,2021-11-14,3206.02,False,6000
2,Q3063,Склад термические печи КЦ-1,1,2021-11-15,0.00,False,1800
3,IQ311FHR,Склад ТК ПТС готовая продукция,1,2021-10-12,0.00,False,0
4,IQ3111,Промежуточный склад ЦТС ГП,1,2021-10-21,0.00,False,0

In [50]:
key_agrs = ['Конвертеры КЦ-1',
           'Конвертеры КЦ-2',
           'Конвертерный цех 1 УНРС 2,3,4,6',
           'Конвертерный цех 2 УНРС 5,6,7,8,9',
           'Стан 2000 ЦГП',
           'НТА ЦХПП',
           'НТА ЦДС',
           'Травильный комплекс ЦТС',
           'Стан 1400 ЦДС',
           'АНГЦ 2,4 ЦДС',
           'Стан 2030 ЦХПП',
           'Реверсивный стан ЦДС',
           'Отгрузка ЦГП',
           'АЗП ЦТС',
           'АНГЦ ЦХПП',
           'АНО ЦХПП']

In [15]:
agrs['Name'].unique()

array(['Конвертерный цех 1 УНРС 2,3,4,6', 'Конвертеры КЦ-1',
       'Конвертерный цех 2 УНРС 5,6,7,8,9', 'Конвертеры КЦ-2', 'АЗП ЦТС',
       'Травильный комплекс ЦТС', 'Отгрузка ЦГП', 'Стан 2000 ЦГП',
       'АНГЦ ЦХПП', 'АНО ЦХПП', 'НТА ЦХПП', 'Стан 2030 ЦХПП',
       'АНГЦ 2,4 ЦДС', 'НТА ЦДС', 'Реверсивный стан ЦДС', 'Стан 1400 ЦДС'],
      dtype=object)

Проверим все ли название агрегатов из `agrs` входят в `key_agrs`

In [55]:
set(list(agrs['Name'].unique())) == set(key_agrs)

True

Да, все агрегаты в таблице - критические

In [59]:
# Создадим словарь {id: Name}
agrs_id_name = {}
for x in key_agrs:
    ind = str(agrs[agrs['Name'] == x]['Id'].unique()[0])
    agrs_id_name[ind] = x

In [60]:
agrs_id_name

{'G_VSO1': 'Конвертеры КЦ-1',
 'G_VSO2': 'Конвертеры КЦ-2',
 'G_UNRO1': 'Конвертерный цех 1 УНРС 2,3,4,6',
 'G_UNRO2': 'Конвертерный цех 2 УНРС 5,6,7,8,9',
 'G_ST200G': 'Стан 2000 ЦГП',
 'G_NTAH': 'НТА ЦХПП',
 'G_NTAD': 'НТА ЦДС',
 'G_TKT': 'Травильный комплекс ЦТС',
 'G_ST140D': 'Стан 1400 ЦДС',
 'G_ANGCD': 'АНГЦ 2,4 ЦДС',
 'G_ST203H': 'Стан 2030 ЦХПП',
 'G_RSTD': 'Реверсивный стан ЦДС',
 'G_OTGRG': 'Отгрузка ЦГП',
 'G_AZPT': 'АЗП ЦТС',
 'G_ANGCH': 'АНГЦ ЦХПП',
 'G_ANOH': 'АНО ЦХПП'}

Оставим в `resources` только те строки, в которых только ключевые агрегаты

In [61]:
resources.shape

(68, 7)

In [70]:
notkey_resources = pd.DataFrame(resources.loc[resources['Имя'].isin(key_agrs) == False])

In [72]:
notkey_resources.shape

(55, 7)

In [73]:
resources = pd.DataFrame(resources.loc[resources['Имя'].isin(key_agrs)])

In [74]:
resources.shape

(13, 7)

In [75]:
resources

,HasConstraintViolations,Имя,Имеет ограничение по мощности,Идентификатор,InputSP,OutputSP,Поставщик
6,False,Конвертеры КЦ-2,True,G_VSO2,Q307M,NaN,False
10,False,АНГЦ ЦХПП,True,G_ANGCH,Q3134;Q313M,Q3137;Q313A;Q313C,False
14,False,АЗП ЦТС,True,G_AZPT,Q311A;Q311E;Q311SFG,Q311B,False
18,False,НТА ЦХПП,True,G_NTAH,Q3132,Q3134;Q3135;Q3136;Q313C,False
19,False,Отгрузка ЦГП,True,G_OTGRG,Q3121,Q3001,False
22,False,Реверсивный стан ЦДС,True,G_RSTD,Q3155,Q3156;Q3157,False
23,False,"АНГЦ 2,4 ЦДС",True,G_ANGCD,Q3157;Q315M,Q3158;Q315B;Q315C,False
28,False,АНО ЦХПП,True,G_ANOH,Q3134,Q3137;Q313C,False
34,False,НТА ЦДС,True,G_NTAD,Q3154,Q3155,False
37,False,Стан 1400 ЦДС,True,G_ST140D,Q3155,Q3156;Q3157;Q3158,False
50,False,Стан 2030 ЦХПП,True,G_ST203H,Q3136,Q3134;Q3137;Q313C,False
62,False,Травильный комплекс ЦТС,True,G_TKT,Q3112,Q311FHR;Q311SHR,False
65,False,Конвертеры КЦ-1,True,G_VSO1,Q306M,NaN,False

Получим список идентификаторов складов для "критических" агрегатов

In [109]:
temp = resources['InputSP'].unique()
temp = [i.split(';') for i in temp]

import itertools
input_whouses = list(itertools.chain(*temp))

In [110]:
temp = resources['OutputSP'].dropna().unique()
temp = [i.split(';') for i in temp]

output_whouses = list(itertools.chain(*temp))

In [111]:
input_whouses  # Id всех складов, с которых поступали материалы на критические агрегаты

['Q307M',
 'Q3134',
 'Q313M',
 'Q311A',
 'Q311E',
 'Q311SFG',
 'Q3132',
 'Q3121',
 'Q3155',
 'Q3157',
 'Q315M',
 'Q3134',
 'Q3154',
 'Q3136',
 'Q3112',
 'Q306M']

In [112]:
output_whouses  # Id всех складов, на которые уезжали материалы после критических агрегатов

['Q3137',
 'Q313A',
 'Q313C',
 'Q311B',
 'Q3134',
 'Q3135',
 'Q3136',
 'Q313C',
 'Q3001',
 'Q3156',
 'Q3157',
 'Q3158',
 'Q315B',
 'Q315C',
 'Q3137',
 'Q313C',
 'Q3155',
 'Q3156',
 'Q3157',
 'Q3158',
 'Q3134',
 'Q3137',
 'Q313C',
 'Q311FHR',
 'Q311SHR']

In [113]:
notkey_whouses = pd.DataFrame(whouses.loc[whouses['Идентификатор'].isin(input_whouses + output_whouses) == False])

In [114]:
whouses.shape

(2925, 7)

In [115]:
notkey_whouses.shape

(1710, 7)

In [116]:
whouses = pd.DataFrame(whouses.loc[whouses['Идентификатор'].isin(input_whouses + output_whouses)])

In [118]:
whouses.shape

(1215, 7)

Итого получаем:  
`key agrs` - список всех критических агрегатов  
`agrs` - информация по загрузке всех критических агрегатов  
`agrs_id_name` - словарь типа {айди: имя}  
`resources` - таблица с критическими агрегатами и их складами  
`notkey_resources` - таблица со всеми остальными агрегатами  
`whouses` - таблица со всеми складами, которые используются критическими агрегатами  
`notkey_whouses` - таблица со всеми остальными складами

Удалим ненужные столбцы

In [122]:
agrs = pd.DataFrame(agrs.drop(['Unnamed: 0', 'level_0'], axis=1))

In [124]:
agrs.head()

,Наименование цеха,Id,Name,Id.1,Name.1,dStart,Day,DurationInDays,OccupiedPercentage,UnavailablePercentage,TotalCapacity.1
0,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR4O1,УНРС-4,2021-10-07,0,1,100,100,4 days
1,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR3O1,УНРС-3,2021-10-07,0,1,100,99.853748,4 days
2,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR6O1,УНРС-6,2021-10-07,0,1,100,76.606313,4 days
3,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR2O1,УНРС-2,2021-10-07,0,1,100,100,4 days
4,06.КЦ-1,G_UNRO1,"Конвертерный цех 1 УНРС 2,3,4,6",S_UNR4O1,УНРС-4,2021-10-08,1,1,100,57.324748,4 days

In [127]:
resources.head()

,HasConstraintViolations,Имя,Имеет ограничение по мощности,Идентификатор,InputSP,OutputSP,Поставщик
6,False,Конвертеры КЦ-2,True,G_VSO2,Q307M,NaN,False
10,False,АНГЦ ЦХПП,True,G_ANGCH,Q3134;Q313M,Q3137;Q313A;Q313C,False
14,False,АЗП ЦТС,True,G_AZPT,Q311A;Q311E;Q311SFG,Q311B,False
18,False,НТА ЦХПП,True,G_NTAH,Q3132,Q3134;Q3135;Q3136;Q313C,False
19,False,Отгрузка ЦГП,True,G_OTGRG,Q3121,Q3001,False

In [126]:
resources['HasConstraintViolations'].value_counts()

False    13
Name: HasConstraintViolations, dtype: int64

In [128]:
resources['Поставщик'].value_counts()

False    13
Name: Поставщик, dtype: int64

In [129]:
notkey_resources['HasConstraintViolations'].value_counts()

False    55
Name: HasConstraintViolations, dtype: int64

In [130]:
notkey_resources['Поставщик'].value_counts()

False    55
Name: Поставщик, dtype: int64

In [131]:
resources = pd.DataFrame(resources.drop(['HasConstraintViolations', 'Поставщик'], axis=1))
notkey_resources = pd.DataFrame(notkey_resources.drop(['HasConstraintViolations', 'Поставщик'], axis=1))

In [132]:
resources.head()

,Имя,Имеет ограничение по мощности,Идентификатор,InputSP,OutputSP
6,Конвертеры КЦ-2,True,G_VSO2,Q307M,NaN
10,АНГЦ ЦХПП,True,G_ANGCH,Q3134;Q313M,Q3137;Q313A;Q313C
14,АЗП ЦТС,True,G_AZPT,Q311A;Q311E;Q311SFG,Q311B
18,НТА ЦХПП,True,G_NTAH,Q3132,Q3134;Q3135;Q3136;Q313C
19,Отгрузка ЦГП,True,G_OTGRG,Q3121,Q3001

In [133]:
whouses.head()

,Идентификатор,Имя,Продолжительность,Плановая дата,Уровень запасов,Имеет запланировано свыше максимального уровня запасов,Максимальное количество запасов
5,Q311A,Склад ЦТС ПФ после обезжиривания,1,2021-10-23,314.24,False,1400
6,Q3137,Склад ЦХПП ПФ перед АР,1,2021-10-18,19846.53,False,25000
7,Q315B,Склад перед упаковкой,1,2021-11-02,3483.42,False,1500
11,Q3154,Склад перед НТА,1,2021-10-24,3066.76,False,7400
16,Q3132,Склад ЦХПП ПФ г/к рулоны,1,2021-11-03,34819.59,False,56500

In [134]:
agrs.to_csv('agregates.csv', index=False)
resources.to_csv('agregates_warehouses', index=False)
whouses.to_csv('warehouses.csv', index=False)